**/weights
**/img
**/latex
**/plots
**/results
**/_pycache_
**/.ipynb_checkpoints
**/.vscode
**/__pycache__

*.ipynb
*.pdf
*.pgf

evo_opt.py

additional_conv_networks.py
jannik_init_example.py
test_py_mode_vscode.py
