**/instance_1_stuff
**/instance_2_stuff
**/misc
**/data
**/weights
**/example_weights
**/logs
**/img
**/latex
**/plots
**/results
**/_pycache_
**/.ipynb_checkpoints
**/.idea
**/.vscode
**/__pycache__


**/configs/FCN
**/configs/Conv2
**/configs/Conv4
**/configs/Conv6
**/configs/Conv8
**/configs/ResNet20
**/configs/ResNet20_15
**/configs/ResNet20_20
**/configs/ResNet20_25
**/configs/ResNet20_30
**/configs/ResNet20_35
**/configs/ResNet56
**/configs/VGG16
**/configs/VGG19

**/\~

*.ipynb
*.pdf
*.pgf
*.png
*.Rhistory
*.xml
*.iml
*.zip

evo_opt.py
README_vorlage.md
additional_conv_networks.py
jannik_init_example.py
test_py_mode_vscode.py
custom_nn.py
training_utils.py
weight_initializer_experimental.py
in_loader.py
unused_resnet_networks.py
unused_custom_layers.py


