**/instance_1_stuff
**/instance_2_stuff
**/misc
**/data
**/weights
**/example_weights
**/logs
**/img
**/latex
**/plots
**/results
**/_pycache_
**/.ipynb_checkpoints
**/.idea
**/.vscode
**/__pycache__
**/configs/VGG16
**/configs/VGG19

**/\~

*.ipynb
*.pdf
*.pgf
*.png
*.Rhistory
*.xml
*.iml
*.zip

evo_opt.py
README_vorlage.md
additional_conv_networks.py
jannik_init_example.py
test_py_mode_vscode.py
custom_nn.py
training_utils.py
weight_initializer_experimental.py
in_loader.py
unused_resnet_networks.py


